<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Historic Data Analysis</title>
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-{{bv}}.min.css" type="text/css" />
		<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-{{bv}}.min.js"></script>
		<link rel="stylesheet" href="/static/style.css" type="text/css">
		{{script|safe}}
	</head>
	<body>
	<h2><center><font color="#FFFFF" size=6>Stock Price Prediction And Forecasting Using Arima Model</font></center></h2>

	</br>
	</br>
	</br>


		<div class=page>
  			<p><a href="/Back">Back</a></p>
			<div align="center">{{div|safe}}</div>



		</div>
        <div align="center"><img  src="/static/results/livechart.png" width="900" height="500"></div>
		
		<div align="center"><img src="/static/results/Forecast.png" width="900" height="500"></div>

	</body>
</html>